html,
body {
  margin: 0;
  height: 100%;
  color: rgb(81, 81, 81);
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.layout {
  max-width: 1200px;
  min-width: 800px;
  height: 100%;
}

.header {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding: 1rem 0;
}

.input-container {
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border: 1px solid rgb(62, 149, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: row;
}
.input-info {
  align-items: center;
  font-weight: 700;
}
.input {
  height: 25px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: rgb(229, 241, 255);
  margin: 0.5rem;
  padding: 0.3rem 0.5rem;
  margin-right: 1rem;
  outline: none;
  transition: border-color linear 0.3s;
}

.input:hover,
.input:focus,
:focus-visible {
  border-color: rgb(177, 212, 255);
}

.output-container {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-title {
  padding: 0 1rem;
}
.cards {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 178px;
  background-color: rgb(241, 247, 255);
}
.cards--done {
  background-color: rgb(243, 255, 241);
}

.card {
  background-color: white;
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  height: 8rem;
  border: 1px solid rgb(62, 149, 255);
  border-radius: 1rem;
  white-space: normal;
}
.card--done {
  border: 1px solid rgb(72, 255, 62);
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-title {
  margin: 0;
  padding: 0.5rem;
}

.todo-content {
  padding: 0.5rem;
}
.card-buttons {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  border-radius: 8px;
  border: 1.2px solid transparent;
  min-width: 5rem;
  padding: 0.6rem;
  cursor: pointer;
  transition: border-color linear 0.25s;
  outline: none;
}

.btn-add:hover,
.btn-add:focus,
:focus-visible {
  border-color: rgb(62, 149, 255);
  background-color: rgb(164, 205, 255);
}
.btn-delete:hover,
.btn-delete:focus {
  border-color: rgb(255, 62, 62);
  background-color: rgb(255, 204, 204);
}
.btn-done:hover,
.btn-done:focus {
  border-color: rgb(72, 255, 62);
  background-color: rgb(182, 255, 177);
}
